__pycache__/
*.py[cod]
*.egg-info/
*.py.old
.venv/
venv/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
build/
dist/
.DS_Store
.ipynb_checkpoints/

# Ignore Sphinx build output by default
_build/

/cli_test_repos/
